.shoppingCart{
    max-width: 1000px;
    margin: auto;
}

.cartContainer {
    display: flex;
    padding: 15px;
    border-top: 1px solid #064579;
}

.cartContent {
    width: 100%;
}

.singleItem {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #064579;
    margin-bottom: 15px;
    padding-bottom: 15px;
}
.singleItemDescription {
    margin-left: 10%;
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-content: center;
}
.editQuantity {
    margin: 0 5px 0 0;
}



.checkout {
    text-align: right;
    padding: 15px;
    margin-right: 15px;
}