.headerContainer {
    background-color: snow;
}
.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1000px;
    margin: auto;
    padding: 15px;
}

.cart {
    margin-top: 15px;
}
