.listContainer {
    /*border: 1px solid black;*/
    background-color: snow;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 15px;
}
.singleProduct {
    /*border: 1px solid black;*/
    width: 200px;
    height: 440px;
    margin: 15px;
    padding: 5px;
    display: block;
}